<!-- 
<div class="row">
  <div class="col col-sm-6">
    <p>Users in room:</p>
  </div>
  <div>
    <ul>
      <li *ngFor="let user of room.Users">
        <p>{{user.name}}</p>
      </li>
    </ul>
  </div>
</div> -->

<div class="panel panel-primary">
  <div class="panel-heading" style="padding:0;">
  </div>

  <div class="panel-body" style="padding:0;">
    <div style="max-height:70vh; max-width:100%;overflow-y:auto;overflow-x:hidden; padding: 0px;">
      <mat-grid-list cols="1" rows="3">
        <mat-grid-tile *ngFor="let client of webrtcClients">
          <video width="320" height="240" *ngIf="client.stream.getVideoTracks()[0].enabled" autoplay
            [srcObject]="client.stream" [muted]="client.id === socketId" (onPlay)="stopPropagation($event)"
            (onPause)="stopPropagation($event)"></video>

          <div *ngIf="!client.stream.getVideoTracks()[0].enabled" style="width:320px; height:240px; background: brown;">
            <img [src]="client.user.photoUrl" class="center" />
            <!-- 
            <div *ngIf="client.stream.getAudioTracks()[0].enabled">
              <p>sound on</p>
            </div>
      
            <div *ngIf="!client.stream.getAudioTracks()[0].enabled">
              <p>sound off</p>
            </div> -->
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>