<div class="panel panel-primary" style="max-height: 100%; height: 100%;">
    <div class="panel-body">
        <div #scrollframe class="frame" (scroll)="scrolled($event)"
            style="max-height:68vh; max-width:100%;overflow-y:auto;overflow-x:hidden; padding: 0px;">
            <table class="table table-hover table-condensed" *ngIf="chatMessages.length !== 0">

                <tr *ngFor="let message of chatMessages" style="width:100%; margin: 0px;" class="row" #item>
                    <td style="padding-right: 0px;">
                        <img [src]="message.User.photoUrl" style="height: 20px;" /></td>
                    <td style="padding-right: 0px;">
                        <h4>{{message.User.firstName}}:</h4>
                    </td>
                    <td class="col col-xs-11">
                        <h4 class="word-wrap:break-word" style="margin:0px;">{{message.Message}}</h4>
                    </td>
                </tr>
                <tr *ngIf="chatMessages.length === 0">
                    <td>
                        <p>Nothin' here. <strong>Say something!</strong></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div *ngIf="newMessagesCount!==0 && chatMessages.length>8">
        <div style="text-align: center; margin-top: -40px;">
            <button mat-raised-button color="primary" (click)="scrollToBottom()">You have {{newMessagesCount}} new
                messages</button>
        </div>
    </div>

    <div style="position: absolute; bottom: 8px; display: inline-flex; width: 100%; align-items: baseline; padding-left: 8px; padding-right: 8px; ">
        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="message" (keyup.space)="stopPropagation($event)"
                (keyup.m)="stopPropagation($event)" (keyup.enter)="sendMessage()">
        </mat-form-field>

        <a mat-icon-button [routerLink]="" (click)="sendMessage()">
            <mat-icon style="color: pink; padding-top:5px;">send</mat-icon>
        </a>
    </div>