<div class="panel panel-primary">
    <div class="panel-heading" style="padding:0;">
        <!-- <span class="glyphicon glyphicon-user"></span> -->
        <h6 class="panel-title" style="display:inline;">Chat</h6>
        <!-- <div class="btn-group btn-group-xs pull-right">
        <button type="button" class="btn btn-primary"><span
                class="glyphicon glyphicon-lock"></span></button>
        <button type="button" class="btn btn-primary"><span
                class="glyphicon glyphicon-cog"></span></button>
        <button type="button" class="btn btn-primary"><span
                class="glyphicon glyphicon-remove"></span></button>
    </div> -->
        <div class="clearfix"></div>
    </div>

    <div *ngIf="newMessagesCount!==0">
        <button (click)="scrollToBottom()">You have {{newMessagesCount}} new messages</button>
    </div>
    <div class="panel-body" style="padding:0;">
        <div #scrollframe class="frame" (scroll)="scrolled($event)"
            style="max-height:70vh; max-width:100%;overflow-y:auto;overflow-x:hidden; padding: 0px;">
            <table class="table table-hover table-condensed" *ngIf="chatMessages.length !== 0">

                <tr *ngFor="let message of chatMessages" style="width:100%;" class="row" #item>
                    <td style="padding-right: 0px;">
                        <img [src]="message.User.photoUrl" style="height: 20px;" /></td>
                    <td style="padding-right: 0px;">
                        <h4>{{message.User.firstName}}:</h4>
                    </td>
                    <td class="col col-xs-11">
                        <h4 class="word-wrap:break-word" style="margin:0px;">{{message.Message}}</h4>
                    </td>
                </tr>
                <tr *ngIf="chatMessages.length === 0">
                    <td>
                        <p>Nothin' here. <strong>Say something!</strong></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="message"
            (keyup.space)="stopPropagation($event)" (keyup.m)="stopPropagation($event)" 
            (keyup.enter)="sendMessage()">
        </mat-form-field>

        <a mat-icon-button [routerLink]="" (click)="sendMessage()" style="fill: pink">
            <mat-icon>send</mat-icon>
        </a>
    </div>