<div style="margin-left: 15px; margin-right:15px;">
    <div class="row">
        <mat-video #video [src]="src" [title]="title" [autoplay]="autoplay" [preload]="preload" [loop]="loop"
            [download]="download" [quality]="quality" [keyboard]="keyboard" [color]="color" [fullscreen]="fullscreen"
            [spinner]="spinner" [poster]="poster" [overlay]="overlay" [(muted)]="muted"
            [showFrameByFrame]="showFrameByFrame" [(time)]="currentTime" style="width: 100%; height: 100vh;">
        </mat-video>
    </div>

    <div class="row rowoverlay" style="pointer-events: none;">
        <comment [room]="room" [user]="user" [video]="htmlVideo" style="pointer-events: auto; height: fit-content;"></comment>
    </div>
</div>