::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
    min-width: 0 !important;
    padding: 3px !important;
    margin: 3px !important;
    width: -webkit-fill-available;
}

//   Small devices (landscape phones, 576px and up)
@media (max-width: 1200px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 1200px) {
}