<div *ngIf="room!==undefined" style="padding: 10px;">
    <div class="row">
        <div class="col col-lg-10"></div>
        <div style="display: inline-flex;">
            <img [src]="user.photoUrl" style="height: 20px;">
        </div>
        <div style="display: inline-flex; margin-left: 8px;">
            <p>{{user.name}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-2">
            <p>Users in room:</p>
        </div>
        <div>
            <ul>
                <li *ngFor="let user of room.Users">
                    <p>{{user.name}}</p>
                </li>
            </ul>
        </div>

        <div class="row col-lg-12" style="max-height: 60vh;">

            <!-- video  -->
            <div class="col-lg-8">
                <movie-player [room]="room" [user]="user"></movie-player>
            </div>

            <!-- chat -->
            <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                <chat [roomId]="roomId" [user]="user"></chat>
            </div>
        </div>
    </div>